	body {
		background-color: white;
		//font-family: 'Proxima Nova Bold',"Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
		//font-family:"Helvetica",Geneva, sans-serif;
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		line-height:150%;
	}
	#container{
		position:relative;
		margin-left: auto;
		margin-right: auto;
		padding-top:50px;
		width: 100%;
		height:570px;
	}
	#legislatorStats{
		position:relative;
		text-align:left;
		width:400px;
		float:left;
	}
	#legisBars {
		height:30px;
		width:400px;
	}
	.legisName{
		font-size: 200%;
		margin:0;
		padding-bottom:10px;
		line-height:150%;
	}
	#legisImage {
		width:144px;
	}
	#legisImage img{
		height:150px;
		
	}
	
	#legisSquare {
		height:160px;
	}
	
	#svgDiv{
		width:100%;
		float:left;
	}
	#score{	
		line-height:600%;
		height:100px;
		overflow:hidden;
	}
	#score .legisGrade{
		font-size:400%;
	}
	#score .legisScore {
		font-size:700%;
	}
	#percentSign{
		font-size:400%;
		padding-right:50px;
	}
	#topBanner{
		position:relative;
		height:350px;
		margin:-10px;
		background-image: url(../images/generalfull.jpg);
		background-repeat:no-repeat;
		background-size:cover;	
		background-position:0 -100px;
		border-bottom:0px solid gray;
	    
	}
	#topBanner a{
		height:100%;
		width:100%;
	}
	#bottomBanner{
		position:relative;
		width:100%;
		margin-left:auto;
		margin-right:auto;
		height:180px;
		padding-top:5px;
	}
	.centered {
	    width: 50%;
	    margin: 0 auto;
	}
	
	.textCentered {
		text-align: center;
	}
	
	#logo {
		position:absolute;
		top:303px;
		width:100%;
		margin-left:-8px;	
	}
	#logo img{
		height:100px;
		width:100px;
	}
	#title {
		position:relative;
		top:50px;
	}
	#whiteCirc {
		position:relative;
		top:300px;
	}
	#loadingMessage {
		position:absolute;
		top:500px;
		color:#366C0B;
		font-size:200%;
	}
	hr {
		border-top: 1px solid #E0E0E0;
	}
	#title hr {
		width:400px;
	}
	
	#title a {
		text-decoration: none;
		color:black;
	}
	
	#title a:hover{
		color:#366C0B;
	}
	
	#legisTable {
		padding-right:50px;
		float:left;
	}
	
	#legisTable table {
		padding-left:50px;
		background-color:white;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
		border-collapse:collapse;	
	}
	
	#legisTable thead { display:block; color: white; margin:0px; left:0px; }
	#legisTable tbody { display:block; 
		overflow:auto; 
		height:545px;
	}
	
	#legisTable th {
		padding-top: 20px;
		padding-bottom:20px;
		color:#039;
		font-size: 16px;
		background-color:#DDE2F2;
	}
	
	#legisTable td{
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
	}
	
	th.headerClickable {
		color:blue;
		text-decoration: underline;
	}
	
	.notVisible {
		visibility:hidden;
	}
	
	.visible {
		visibility:visible;
	}
	
	.oddRow {
		background-color:#f1fdfe;
	}
	
	#footer {
		clear:both;
		height:100px;
	}
	
	.tooltip{
	    display: inline;
	    position: relative;
		line-height:130%;
	}
	
	.tooltip:hover:after{
	    background: #333;
	    background: rgba(0,0,0,.8);
	    border-radius: 5px;
	    bottom: 26px;
	    color: #fff;
	    left: 20%;
	    padding: 5px 15px;
	    position: absolute;
	    z-index: 98;
	    width: 130px;
		content: attr(info);
	}
	
	.tooltip:hover:before{
	    border: solid;
	    border-color: #333 transparent;
	    border-width: 6px 6px 0 6px;
	    bottom: 20px;
	    content: "";
	    left: 50%;
	    position: absolute;
	    z-index: 99;
	}
	
	#tooltipBox {
		position:absolute;
		width:100%;
		height:10px;
		top:600px;
	}
	
	.tooltipimg {
		height:30px;
		width:30px;
	}
	
	#maptip {
		position:relative;
		top:83px;
		left:370px;
		line-height:150%;
	}
	
	#bartip{
		position:absolute;
		left:255px;
		top:60px;
		width:40px;
		line-height:150%;
	}
	
	#squaretip{
		position:absolute;
		left:255px;
		top:385px;
		width:40px;
	}
	
	
	#svgDiv svg.boxed {
		background-color:#fafafa;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
	}
	
	.hidden {
	    display: none;
	}
	
	.highlighted {
		text-decoration:underlined;
		color:#366C0B;
		font-size:130%;
	}
	
	#selectView{
		position:relative;
		width:100%;
		height:10px;
	}
	
	#switch{
		position:relative;
		top:-50px;
		left:50px;
		width:250px;
		height:100px;
	}
	
	#scrollDown img {
		position:fixed;
		right:40px;
		height:40px;
	}
	
	#scrollDown img.down{
		bottom:50px;
	}
	
	
	label { 
	    padding:0.4em 2em 0.4em 0; 
	}
	.toggle-btn-grp { 
	    margin:3px 0; 
	}
	.toggle-btn { 
	    text-align:centre; 
	    margin:5px 2px;
	    padding:2em 3em; 
	    color:#000; 
	    background-color:#FFF; 
	    border-radius:10px; 
	    display:inline-block; 
	    border:solid 1px #CCC; 
	    cursor:pointer;
	}

	.toggle-btn-grp.joint-toggle .toggle-btn { 
	    margin:5px 0; 
	    padding:.8em 2em; 
	    border-radius:0;
	    border-right-color:white;
	}
	.toggle-btn-grp.joint-toggle .toggle-btn:first-child { 
	    margin-left:2px; 
		margin-right:-2px;
	    border-radius: 10px 0px 0px 10px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20); 
	}
	.toggle-btn-grp.joint-toggle .toggle-btn:last-child { 
	    margin-left:-3px;  
	    border-radius: 0px 10px 10px 0px;
	    border-right:solid 1px #CCC;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
	}


	.toggle-btn:hover { 
	    border:solid 1px #a0d5dc !important; 
	    background:#f1fdfe;
	}

	.toggle-btn.success { 
	    background:#f1fdfe;
	}
	
	input[type="radio"]{
	    display:none;
	}
	
	tr.rowHighlight {
		background-color:lightgray;
	}

	
	
	#voteName {
		font-size:300%;
	}
	
	#voteRight {
		float:left;
	}
	
	#voteBar {
		height:260px;
	}
	
	#selectorChart{
		float:left;
		display:block;
		margin:auto;
		width:650px;
	}
	
	#voteInfo{
		//text-align:center;
		//height:400px;
	}
	
	#votetypetip{
		position:absolute;
		top:-55px;
		left:120px;
		width:50px;
	}
	
	#votecolortip{
		position:absolute;
		width:50px;
		left:120px;
		top:-155px;
	}
	
	#legisBoxWide{
		width:400px;
	}
	.floatleft{
		float:left;
	}
	
	#legisBoxed{
		width:240px;
	}
	
	#legisTextBox{
		width:300px;
		line-height:100%;
	}
	
	#votingRecord ul li{
		display:inline;
		padding-right:15px;
	}
	
	#votingRecord ul{
		list-style-type: none;
	}
	
	
	#stuffCenter {
		width:1080px;
	}
	
	#textContainer {
		width:800px;
	}